.color-fire-btn {
    padding-right: 5px;
    font-weight: bold;
    text-shadow: 2px 0 0 #cab9b9;
}

.popover {
    background: #fff;
    padding: 10px 5px 5px 5px;
    border: 1px solid #eaeaea;
    box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
    border-radius: 6px;
    width: 300px;
}

.color-option {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    border: 1px solid #b8b9b49e;
    outline: 0;
    opacity: 0.9;
}

.color-picker {
    visibility: hidden;
}

.picker-button {
    background-color: white;
    border: none;
    cursor: pointer;
}